.item_sort {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 40px 35px 0px 0px;
  align-items: center;

  .MuiInput-underline:before {
    border: 1px solid #ced4da;
    height: 60px;
    width: 335px;
    border-radius: 4px;
  }

  .MuiInput-underline:after {
    border: 1px solid #ced4da;
  }

  .MuiInputBase-root {
    height: 60px;
    width: 336px;
    border-radius: 4px;
    background-color: #ffffff;
    margin-left: 10px;
  }

  .MuiInputBase-input {
    padding: 21.5px 5px;
  }

  .direction {
    margin-left: 10px;
  }
}

.item_addFilter__date {
  display: flex;
  align-items: center;

  span {
    margin: 0px 10px 0px 10px;
  }
}